<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/css/bulma.css">
    <link rel="stylesheet" href="styles/Registerstyle.css">
    <title>__Register__</title>
    <script>
        function done(){
           
            var d = "Data anda sudah dikirim, Silahkan tunggu konfirmasi";
            document.getElementsById("note").innerHTML = "uhiujkuk";
        }

        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                $notification = $delete.parentNode;
                $delete.addEventListener('click', () => {
                 $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</head>
</head>
<body>
    <div class="container" id="Layout">
        <h1 class="title">Form Pendaftaran</h1>
        <legend>Data pengguna (wajib diisikan seluruhnya)</legend>
        <div class="notification is-primary is-light">
            <button class="delete"></button>
        </div>    
        <form action="Login.html">

        <script type="text/x-template" id="biodataform">
            <div class="field is-horizontal">
                <div class="field-label is-normal"></div>
                    <label for="Name">Nama Lengkap</label>
                <div class="field-body">
                    <div class="field">
                    <input class="input" type="text" 
                        placeholder="Nama Lengkap" 
                        v-model="data.nama"
                        required>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal"></div>
                    <label for="NIK">NIK</label>
                <div class="field-body">
                    <div class="field">
                    <input class="input" type="text" 
                    placeholder="NIK" 
                    v-model="data.NIK"
                    required>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal"></div>
                    <label for="Pass">Password</label>
                <div class="field-body">
                    <div class="field">
                        <input class="input" 
                        type="password" placeholder="Password" 
                        v-model="data.Password"
                        required>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal"></div>
                    <label for="Email">Email</label>
                <div class="field-body">
                    <div class="field">
                    <input class="input" type="email" 
                    placeholder="Email" 
                    v-model="data.email"
                    required>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Jenis Kelamin</label>
                </div>    
                <div class="field-body">
                    <div class="select" v-model="data.JenKel">
                    <select class="selected"  required>
                        <option name="JenKel" value="Pria">Pria</option>
                        <option name="JenKel" value="Wanita">Wanita</option>
                    </select>
                    </div>
                </div>
            </div>
        </script>

            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-waring is-light" type="reset" value="Reset">
                </div>
                <div class="control">
                    <input class="button is-info" type="submit" name="Dafrar" value="Daftar" onclick=done();>
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        Vue.component({
        template: '#biodataform',
        data() {
          return {
             data: {
                 nama: '',
                 NIK:'',
                 Password:'',
                 email: '',
                 JenKel:''
             }
          }
        },
        mounted() {
            this.data = {
                nama: '',
                NIK:'',
                Password:'',
                email: '',
                JenKel:''
            }
        }
    })

    new Vue({
        el: '#Layout',
        data: {
            show: 'biodata',
            //button: false,
            //buttonTitle: 'Save',
            data: {}
        },
      })
    </script>
</body>
</html>
