body, html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  /*background: rgb(13,11,47);
        background: linear-gradient(0deg, rgba(13,11,47,1) 0%, rgba(9,9,121,1) 35%, rgba(4,115,191,1) 69%, rgba(0,212,255,1) 100%);
        height: 100%*/
  background: #22c3b6;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(34, 195, 182, 0.977175)), color-stop(35%, #090979), color-stop(69%, #0473bf), to(rgba(45, 51, 253, 0.978602)));
  background: linear-gradient(0deg, rgba(34, 195, 182, 0.977175) 0%, #090979 35%, #0473bf 69%, rgba(45, 51, 253, 0.978602) 100%);
  height: 100%;
}

label {
  color: #fff !important;
  text-align: left;
}

fieldset > legend {
  font-size: 1.25em;
  line-height: 2.5em;
}

.container {
  margin-top: 50px;
  width: 800px;
}

.selected {
  width: 200px;
}
