*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#box-dokter {
    display : flex;
    flex-wrap: wrap;
    width   : 100%;
}
#box-dokter figure {
    display: flex ;
    width  : 45% ;
    border: 1px solid grey ; 
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#box-dokter figure img {
    width: 30% ;
    border-radius: 10px;
}
#box-dokter figure figcaption {
    padding: 30px;
}

#box-dokter figcaption a{
    background-color: #2693ce;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all ease 0.4s;
}

#box-dokter figcaption a:hover{
    background: #086191;
    color: whitesmoke;
}

